[Unit]
Description=Daily GitHub Release check for facility-cache-client

[Timer]
OnBootSec=10min
OnUnitActiveSec=1d
RandomizedDelaySec=15min
Persistent=true
AccuracySec=1min
Unit=facility-cache-update.service

[Install]
WantedBy=timers.target
